@charset "utf-8";
*{
    font: 16px "微软雅黑";
    margin: 0;
    list-style: none;
    text-decoration: none;
    color: #000000;
}
#id input{
    border: 0px;
    outline-style: none;
    border: 1px solid #007bff;
    border-radius: 3px;

}
